@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Normal.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Demibold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Semibold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Bold.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-Heavy.ttf');
  font-weight: 1000;
}

@font-face {
  font-family: 'MiSans-VF';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-VF.ttf');
}

@font-face {
  font-family: 'MiSans-VF-mini';
  src: url('https://cdn-public-test.community-platform.qq.com/fonts/MiSans-VF-mini.ttf');
}
