.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.break-normal {
  word-break: normal;
}

.break-all {
  word-break: break-all;
}
